html, body {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;	
	margin-left: 0px;
	margin-right: 0px;
}

body {
	position: relative;
}

#sidebar {
	background-color: #262729;
	height: 100%;
	min-height: 412px;
	position: fixed;
	color: #f5f5f5;
	padding: 0px 0px 0px 0px;
	overflow-y: scroll;
}

#body {
	background-color: #32323c;
	position: relative;
	padding-right: 0;
	color: #f5f5f5;
	float: right;
	height: auto;
	width: 100%;
}

#headshot {
	width: 200px;
	height: 200px;
	margin: 40px auto 20px auto;
}

#links {
	background-color: #171719;
	color: #f5f5f5;
	margin-left: 0;
	margin-right: 0;
	text-decoration: none;
	position: fixed;
	right: 0;
	z-index: 1;
}

#logo {
	width: 200px;
	height: 200px;
}

#logo_container {
	float: right;
	width: 240px;
	height: 240px;
	background-color: #222222;
	border-radius: 40px;
	padding: 20px;
}

#socials {
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
	bottom: 40px;
	margin: 0;
	padding-right: 0px;
	justify-content: space-between;
	z-index: 1;
}

#socials > ul {
	list-style-type: none;
}

/* SCREENS */
#screens {
	height: 100%;
}

.screen {
	z-index: 1;
	padding: 76px 56px 56px 56px;
	width: 100%;
	min-height: 100vh;
	height: auto;
	overflow: auto;
}

#home {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*background-color: rgba(34, 34, 34, 0.6);*/
}

#home_txt {
	text-align: right;
	margin-right: 56px;
}

#about {
	/*background-color: green;*/
}

.blurb {
	background-color: #222222;
	margin-top: 20px;
	padding: 15px;
	width: 80%;
}

#blurb_1, #blurb_3 {
	text-align: justify;
	border-radius: 20px 20px 20px 0px;
	float: left;
}

#blurb_2 {
	text-align: justify;
	border-radius: 20px 20px 0px 20px;
	float: right;
}

#portfolio {
	/*background-color: yellow;*/
}

.card_link {
	color: rgb(33, 37, 41) !important;
}

.nestLink {
	color: #007bff;
 	text-decoration: none;
  	background-color: transparent;
  	-webkit-text-decoration-skip: objects;
}

#contact {
	/*background-color: magenta;*/
}

#modals {
	color: rgb(33, 37, 41);
}

.media {
	width: 64px;
	height: auto;
	color: black;
	text-decoration: none;
	margin: auto;
}

.nav-link {
	color: #aaaaaa;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
	color: #f5f5f5;
}

.active {
	color: #f5f5f5;
}
